# Configuration Bot Discord Richman Estate
DISCORD_TOKEN=votre_token_discord_bot_ici
CLIENT_ID=votre_client_id_bot_ici
ROLE_MEMBRE_ID=id_du_role_membre
ROLE_CITOYEN_ID=id_du_role_citoyen
CAT_TICKETS_LOCATIONS_ID=1537552582418104462
CAT_TICKETS_SUITES_ID=1537780514453463152
CAT_TICKETS_CONTACT_ID=1537808868636238024
GUILD_ID=1537171063715401870

BOT_API_SECRET=votre_secret_api_partage_ici
